.presentacion{
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;

    background-image: url("Assets/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.proyects{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.developer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("Assets/ux-developer.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.designer{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("Assets/ux-design.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.text-shadow-1{
    text-shadow: -1px 1px 6px rgba(0, 0, 0, 1);
}

.text-shadow-2{
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 1);
}

.btn-skill{
    margin-top: 10%;
}

#proyect1{
    background-image: url('Assets/FaceAttend.png');
}

#proyect2{
    background-image: url('Assets/InkTouch.png');
}

#proyect3{
    background-image: url('Assets/MSOS.png');
}

.text-purple{
    color: rgba(199, 120, 221, 1);
}

.contSkills{
    height: 38em;
}
